body {
    font-family: 'Times New Roman', serif, sans-serif;
    font-size: 22px;
    background-color: rgb(120, 181, 238);
    color: rgb(27, 72, 219);
}
.Recipes {
    background-color: #eee;
    margin: 0 auto;
}
h1 {
    padding: 16px;
}
.lasagna,
.koshary {
    color: rgb(20, 20, 83);
}
h1,
h3 {
    font-weight: 900;
    font-size: 40px;
}