body {
    font-family: 'Times New Roman', serif, sans-serif;
    font-size: 22px;
    background-color: rgb(255, 255, 255);
    color: rgb(15, 2, 2);
}
.Recipes {
    width: auto;
    background-color: #87a7eb; 
    margin: 16px auto;
}
h1 {
    padding: 16px;
    margin-bottom: auto;
}
.lasagna,
.koshary {
    color: rgb(255, 255, 255);
    margin: 20px 26px;
}
h1,
h3 {
    font-weight: 900;
    font-size: 40px;
}